<h1 class="mb-4">Add post</h1>
{{ error }}
<form method="post" actoin="./" class="container">
    <div class="figure mb-3 d-block text-center">
        <input type="hidden" name="post[thumb]" id="postThumb" value="{{ img }}">
        <div class="position-relative">
            <img src="{{ img }}" class="rounded mx-auto d-block cursor-pointer img-fluid" role="button" alt="post.thumb" id="postThumbImg">
            <div class="spinner-border text-primary d-none2 position-absolute d-none" role="status" id="thumbSpinner" style="left: calc(50% - 12px); top: calc(50% - 12px);">
                <span class="sr-only"></span>
            </div>
        </div>
        <figcaption class="figure-caption mt-1">Click to change picture.</figcaption>
    </div>
    <div class="mb-3">
        <label for="postTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="postTitle" name="post[title]" value="{{ title }}" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="postSlug" class="form-label">Slug</label>
        <input type="text" class="form-control" id="postSlug" name="post[slug]" value="{{ slug }}" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="postSlug" class="form-label">Category</label>
        <select class="form-select" id="postCat">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="postContent" class="form-label">Content</label>
        <textarea id="postContent" cols="30" rows="10" class="form-control" name="post[content]">{{ content }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>

<script>
    document.getElementById('postThumbImg').addEventListener('click', e => {
        document.getElementById('thumbSpinner').classList.remove('d-none');
        fetch('/api/rand_img/')
            .then(response => {
                return response.text();
            })
            .then(data => {
                let url = data;
                e.target.src = url;
                document.getElementById('postThumb').value = url;
                document.getElementById('thumbSpinner').classList.add('d-none');
            });
    })
</script>